MONGO_URI=mongodb://nirbhay:nirbhay123@ac-gjba34o-shard-00-00.y1njzkv.mongodb.net:27017,ac-gjba34o-shard-00-01.y1njzkv.mongodb.net:27017,ac-gjba34o-shard-00-02.y1njzkv.mongodb.net:27017/?ssl=true&replicaSet=atlas-acqbqp-shard-0&authSource=admin&appName=studentcomplaint
ADMIN_ID=nirbhay123
ADMIN_PASSWORD=nirbhay@123
ADMIN_ACCESS_CODE=192420
JWT_SECRET=change-this-secret

# Cloudinary (use either CLOUDINARY_URL or split keys)
CLOUDINARY_URL=cloudinary://543623127582846:upgp_kskSbq5Hw4IP6QNj8DaWtA@dw9c3ebr7
CLOUDINARY_FOLDER=college-complaints
CLOUDINARY_API_KEY=543623127582846
CLOUDINARY_API_SECRET=upgp_kskSbq5Hw4IP6QNj8DaWtA
